.myBody {
    /* cursor: url("src/images/"), auto; */
    font-family: 'Oswald', sans-serif;
    color: white;
    background-color: black;
    background-image: url("res/images/background_image_1920x1080_01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.divTop {
    position: relative;
    width: 1000px;
    height: 100px;
    max-width: 1000px;
    margin: auto;
}

.divTopIcons {
    position: relative;
    width: 1000px;
    height: 50px;
    max-width: 1000px;
    margin: auto;
}

.backIcon {
    width: 50px;
    height: 50px;
    margin: auto;
    transition: transform .2s;
}

.backIconContainer {
    width: 50px;
    height: 50px;
    position: absolute;
}

.backIconContainer {
    left: calc(10% - 25px);
}

.backIconContainer:hover {
    opacity: 1;
}

.backIcon:hover {
    -ms-transform: scale(1.25); /* IE 9 */
    -webkit-transform: scale(1.25); /* Safari 3-8 */
    transform: scale(1.25); 
}

.divProject01Description, .divProject01PatchNotes {
    position: relative;
    width: 1000px;
    max-width: 1000px;
    text-align: left;
    margin: auto;
}

.divProject01DescriptionInnerDiv, .divProject01PatchNotesInnerDiv {
    position: relative;
    text-align: left;
    margin-left: 15%;
}

.divProject01Demo, .divProject01Downloads {
    position: relative;
    width: 1000px;
    max-width: 1000px;
    text-align: center;
    margin: auto;
}

.divProject01DownloadsInnerDiv {
    position: relative;
    text-align: center;
    margin-top: 25px;
}

.divBottomIcons {
    position: relative;
    width: 1000px;
    height: 50px;
    max-width: 1000px;
    margin: auto;
    margin-top: 5%;
}

@media (max-width:1024px) {
    .divTop, .divTopIcons, .divProject01, .divBottomIcons, .divProject01Description, .divProject01Demo, .divProject01Downloads, .divProject01PatchNotes {
        width: 100%;
    }
}

.project01DownloadButton {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}
  
/* Darker background on mouse-over */
.project01DownloadButton:hover {
    background-color: RoyalBlue;
}