.myBody {
    /* cursor: url("src/images/"), auto; */
    font-family: 'Oswald', sans-serif;
    color: white;
    background-color: black;
    background-image: url("src/images/background_image_1920x1080_01.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.div01 {
    position: relative;
    height: 350px;
    max-width:1000px;
    max-height:350px;
    margin: auto;
    /* border: 1px solid white; */
}

.bannerImage {
    width: 1000px;
    height: 270px;
    max-width:100%;
    max-height:100%;
    position: absolute;
    opacity: 1;
    z-index: 0;
}

.portraitImage {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 40%;
    left: calc(50% - 100px);
    z-index: 1;
}

.divMyName {
    position: relative;
    height: 150px;
    max-width:1000px;
    text-align: center;
    font-size: 25px;
    margin: auto;
    /* border: 1px solid white; */
}

.divIcons {
    position: relative;
    width: 1000px;
    height: 95px;
    max-width: 1000px;
    margin: auto;
    /* border: 1px solid white; */
}

.githubIcon, .linkedinIcon, .instagramIcon, .twitterIcon {
    width: 50px;
    height: 50px;
    margin: auto;
    position: absolute;
    transition: transform .2s;
}

.githubIconText, .linkedinIconText, .instagramIconText, .twitterIconText {
    color: white;
    font-size: 15px;
    position: absolute;
    top: 125%;
    opacity: 0;
    transition: .5s ease;
    margin: auto;
}

.githubIconContainer, .linkedinIconContainer, .instagramIconContainer, .twitterIconContainer {
    width: 50px;
    height: 50px;
    position: absolute;
    /* border: 1px solid white; */
}

.githubIconContainer {
    left: calc(20% - 25px);
}

.linkedinIconContainer {
    left: calc(40% - 25px);
}

.instagramIconContainer {
    left: calc(60% - 25px);
}

.twitterIconContainer {
    left: calc(80% - 25px);
}

.githubIconContainer:hover .githubIconText, 
.linkedinIconContainer:hover .linkedinIconText, 
.instagramIconContainer:hover .instagramIconText, 
.twitterIconContainer:hover .twitterIconText {
    opacity: 1;
}

.githubIcon:hover, .linkedinIcon:hover, .instagramIcon:hover, .twitterIcon:hover {
    -ms-transform: scale(1.25); /* IE 9 */
    -webkit-transform: scale(1.25); /* Safari 3-8 */
    transform: scale(1.25); 
}

.githubIconText {
    left: 15%;
}

.linkedinIconText {
    left: 7%;
}

.instagramIconText {
    left: 0%;
}

.twitterIconText {
    left: 12%;
}

.divBriefDescription {
    position: relative;
    width: 1000px;
    height: 250px;
    max-width: 1000px;
    text-align: center;
    margin: auto;
    /* border: 1px solid black; */
}

@media (max-width:1024px) {
    .bannerImage {
        opacity: 0;
    }

    .portraitImage {
        top: 15%;
    }

    .div01 {
        width: 100%;
        height: 275px;
    }

    .divMyName, .divIcons, .divBriefDescription {
        width: 100%;
    }
}