* {
	/* outline: 1px solid red; */
}

.myBody {
    font-family: 'Oswald', sans-serif;
    color: white;
    background-color: black;
    background-image: url("../../shared/res/images/background_image_1920x1080_01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.topIcons {
    position: relative;
    width: 1000px;
    height: 95px;
    max-width: 1000px;
    margin: auto;
}

a:link {
    color: rgb(219, 219, 219);
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: rgb(219, 219, 219);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: rgb(219, 219, 219);
    background-color: transparent;
    text-decoration: underline;
}

.githubIcon, .linkedinIcon, .instagramIcon, .twitterIcon {
    width: 40px;
    height: 40px;
    margin: auto;
    transition: transform .2s;
}

.myCurriculumVitaeIcon, .myProjectsIcon, .homeIcon {
    width: 50px;
    height: 50px;
    margin: auto;
    transition: transform .2s;
}

.myProjectsIcon, .homeIcon {
    filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.5));
}

.githubIconText, .linkedinIconText, .instagramIconText, .twitterIconText, .myCurriculumVitaeIconText, .myProjectsIconText, .homeIconText {
    color: white;
    font-size: 15px;
    position: absolute;
    top: 125%;
    opacity: 0;
    transition: .5s ease;
    margin: auto;
}

.myCurriculumVitaeIconText {
    opacity: 1;
}

.githubIconContainer, .linkedinIconContainer, .instagramIconContainer, .twitterIconContainer {
    width: 40px;
    height: 40px;
    margin-top: 5px;
    position: absolute;
}

.myCurriculumVitaeIconContainer, .myProjectsIconContainer, .homeIconContainer {
    width: 50px;
    height: 50px;
    position: absolute;
}

.githubIconContainer {
    left: calc(16.6% - 20px);
}

.linkedinIconContainer {
    left: calc(33.3% - 20px);
}

.myProjectsIconContainer, .homeIconContainer {
    left: calc(50% - 25px);
}

.instagramIconContainer {
    left: calc(66.6% - 20px);
}

.twitterIconContainer {
    left: calc(83.4% - 20px);
}

.myCurriculumVitaeIconContainer {
    left: calc(50% - 25px);
}

.githubIconContainer:hover .githubIconText, 
.linkedinIconContainer:hover .linkedinIconText, 
.instagramIconContainer:hover .instagramIconText, 
.twitterIconContainer:hover .twitterIconText,
.myProjectsIconContainer:hover .myProjectsIconText,
.homeIconContainer:hover .homeIconText {
    opacity: 1;
}

.githubIcon:hover, .linkedinIcon:hover, .instagramIcon:hover, .twitterIcon:hover, .myCurriculumVitaeIcon:hover, .myProjectsIcon:hover, .homeIcon:hover {
    -ms-transform: scale(1.25); /* IE 9 */
    -webkit-transform: scale(1.25); /* Safari 3-8 */
    transform: scale(1.25); 
}

.githubIconText {
    left: 10%;
}

.linkedinIconText {
    left: -2%;
}

.myProjectsIconText {
    left: 8%;
}

.homeIconText {
    left: 20%;
}

.instagramIconText {
    left: -15%;
}

.twitterIconText {
    left: 4%;
}

.myCurriculumVitaeIconText {
    left: 18%;
}

@media (max-width:1024px) {
    .topIcons {
        width: 100%;
    }
}