.myBody {
    /* cursor: url("res/"), auto; */
	font-family: 'Oswald', sans-serif;
	color: white;
    /* background-image: url("../res/images/animal_crossing/spring_background_01.jpg"); */
	background-image: url("../res/images/animal_crossing/winter_background_01.jpg"), url("../res/images/animal_crossing/spring_background_01.jpg"),
						url("../res/images/animal_crossing/summer_background_01.jpg"), url("../res/images/animal_crossing/fall_background_01.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	transition: background-image 0.25s ease;
}

.topIcons {
    position: relative;
    width: 1000px;
    max-width: 1000px;
    height: 150px;
    margin: auto; 
}

.topIconsInnerDiv {
    position: relative;
    height: 50px;
    padding: 50px;
}

.centerColumn {
	position: relative;
    width: 1000px;
    text-align: center;
    margin: auto;
}

.monthRow {
	position: relative;
	width: 90%;
	text-align: center;
    margin: auto;
	filter: drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.75));
}

.topBanner {
	position: relative;
	width: 60%;
	text-align: center;
    margin: auto;
}

.imageRow {
	position: relative;
	width: 80%;
	text-align: center;
    margin: auto;
}

.image {
	position: relative;
	width: 100%;
	text-align: center;
    margin: auto;
	filter: drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.5));
}

.imageDescription {
	position: absolute;
	bottom: 5%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.25);
	color: white;
}

@media (max-width:1024px) {
    .centerColumn {
        width: 100%;
    }

	.divTop, .topIcons {
        width: 100%;
    }
}