.topIcons {
    height: 150px;
}

.topIconsInnerDiv {
    position: relative;
    height: 50px;
    padding: 50px;
}

.backIcon:hover {
    -ms-transform: scale(1.25); /* IE 9 */
    -webkit-transform: scale(1.25); /* Safari 3-8 */
    transform: scale(1.25); 
}

.projects {
    position: relative;
    width: 1000px;
    max-width: 1000px;
    text-align: center;
    margin: auto;
}

.projectsInnerDiv {
    position: relative;
    text-align: center;
    margin-top: 50px;
}

.project {
    position: relative;
    display: flex;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.projectImageDiv {
    position: relative;
    width: 60%;
    transition: transform .2s;
}

.projectDescription {
    position: relative;
    margin: auto;
    width: 40%;
}

.projectImage {
    display: block;
    width: 100%;
}

.projectImageDiv:hover {
    -ms-transform: scale(1.01); /* IE 9 */
    -webkit-transform: scale(1.01); /* Safari 3-8 */
    transform: scale(1.01); 
    /* filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.5)); */
}

.projectOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #0000007a;
}

.projectOverlayText {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.projectImageDiv:hover .projectOverlay {
    opacity: 1.0;
}

.projectImageDiv:hover .projectOverlayText {
    filter: drop-shadow(0px 0px 16px rgba(0, 0, 0, 1.0));
}

@media (max-width:1024px) {
    .divTop, .projects, .topIcons, .bottomIcons {
        width: 100%;
    }
}

@media (max-width:1000px) {
    .projectImageDiv {
        width: 80%;
        margin: 0 auto;
    }

    .project {
        flex-direction: column;
    }

    .projectDescription {
        width: 90%;
    }
}